block defaults
  - title = "Welcome"
  - bodyClass = ""

block settings

doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(name='description' content='')
    meta(property='og:type' content='website')
    meta(property='og:title' content='')
    meta(property='og:description' content='')
    meta(property='og:url' content='')
    meta(property='og:image' content='')
    meta(property='og:site_name' content='')
    meta(property='og:locale' content='')
    title #{title}
    link(rel="stylesheet" href="/assets/css/style.css")
body(class=bodyClass)
  // Header Page
  include _header

  main.main: block content

  // Footer Page
  include _footer

  script(src="/assets/js/main.js" type="module")
