@use 'vars' as *;
@use 'colors' as *;


@mixin mq-up($breakpoint: lg) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: lg) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

@mixin mq-between($breakpoint: md) {
  @media #{map-get($breakpoint-between, $breakpoint)} {
    @content;
  }
}

@mixin mq-height($breakpoint: lg) {
  @media screen and (min-width: 992px) and (max-height: 780px) {
    @content;
  }
}

@mixin mq-small($breakpoint: lg) {
  @media screen and (max-width: 375px) and (max-height: 667px) {
    @content;
  }
}

